mat-toolbar {
  display: flex;
  background: #004a9f;
  color: white;
}

mat-icon {
  margin-right: 8px;
}

.hamburger-button {
  color: #ffffff !important;
}

.login-button {
  color: #ffffff !important;
}

.logout-button {
  color: #ffffff !important;
}