<app-header [sidenav]="sidenav"></app-header>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /> -->

    <h4 class="name">Web API</h4>
    <p class="designation">Explorer</p>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>chevron_right</mat-icon>
      <span>getProfile</span>
    </button> -->

    <button mat-button class="menu-button" routerLink="/dashboard">
      <span class="text-nowrap">Dashboard</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Food Log By Date</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Activity + Stats</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Calories In vs Out</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Food Plan</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Friends</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Goals</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Premium</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Recent Exercise</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Resting Heart Rate</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Sleep</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">This Week's Activity</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Top Badges</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Water</span>
    </button>

    <button mat-button class="menu-button" routerLink="/food-log">
      <span class="text-nowrap">Weight</span>
    </button>



    <!-- <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>chevron_right</mat-icon>
      <span>About</span>
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
